@keyframes placeholder {
  0% {
    transform: translate(20px, 0.5rem);
  }
  50% {
    transform: translate(20px, -1.2rem);
  }
  100% {
    transform: translate(0, -1.2rem);
    color: black;
  }
}

@keyframes placeholderReverse {
  0% {
    transform: translate(0, -1.2rem);
    color: black;
  }
  50% {
    transform: translate(20px, -1.2rem);
  }
  100% {
    transform: translate(20px, 0.5rem);
  }
}

.container {
  position: relative;

  display: flex;
  flex-direction: column;
}

.label {
  position: absolute;

  transform: translate(20px, 0.5rem);

  color: var(--gray);
}

.input {
  padding-left: 15px;
  height: 35px;

  &:focus {
    outline: none;
    border: 3px solid var(--blue);
  }

  &:placeholder-shown ~ .label.notFirstRender {
    animation: placeholderReverse 250ms ease forwards;
  }

  &:not(:placeholder-shown) ~ .label,
  &:not(:placeholder-shown) ~ .label.notFirstRender,
  &:focus ~ .label.notFirstRender,
  &:focus ~ .label {
    animation: placeholder 500ms ease forwards;
  }
}
