/* @value button-bg  from '../../style/utils/variables.css';
@value black-color  from '../../style/utils/variables.css'; */

/* .button {
  display: flex;
  align-items: center;

  padding-left: 12px;

  font-family: futura-pt, sans-serif;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: start;
  color: black;
} */

/* span {
  flex-basis: 60%;
} */

/* .image {
  position: absolute;
  bottom: 0;
  right: 0px;
  height: 100%;

  flex-basis: 20%;

  object-fit: cover;
  pointer-events: none;
} */
