.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 80vh;
  min-height: 500px;

  border-radius: 5px;

  background: var(--accents-4);
}
