$mobileLesser: 767px;
$mobileUpper: 768px;
$tableLesser: 1023px;
$tableUpper: 1024px;
$desktop: 1200px;

$animation: 250ms;
$cubic: linear;
$imageCofHeightFromWidth: calc(1600 / 1200);

.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
