@import '../../styles/variables.scss';

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7px;
  row-gap: 14px;

  @media screen and (min-width: $mobileUpper) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 14px;
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
