@import '../../../styles/variables.scss';

.selector {
  .multiValue {
    overflow: 'hidden';
    text-overflow: 'ellipsis';
  }

  .multiValue:not(:first-child) {
    @extend .hidden;
  }

  /*
  @media screen and (max-width: $tableLesser) {
    [class$='-control'] {
      box-shadow: none;
      border: none;
    }
    [class$='-ValueContainer'] {
      padding: 0;
    }
    [class$='-indicatorSeparator'] {
      display: none;
    }
    [class$='-indicatorContainer'] {
      padding: 0;
    }
    [class$='-multiValue'] {
      width: 50%;
    }
  }
  */
}
