.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;
}
// .root {
//   @apply h-full bg-primary mx-auto transition-colors duration-150;
//   max-width: 2460px;
// }
