@import '../../styles/variables.scss';

.container {
  @media screen and (min-width: $tableUpper) {
    display: flex;

    padding: 40px 0 40px 60px;
  }
}

.galleryWrapper {
  position: relative;
  flex-grow: 2;
  min-height: 415px;

  margin-left: -15px;
  margin-right: -15px;

  @media screen and (min-width: $tableUpper) {
    min-width: 591px;

    margin-left: 0;
    margin-right: 30px;
  }
}

.infoContainer {
  @media screen and (min-width: $mobileUpper) {
    @media screen and (max-width: $tableLesser) {
      display: flex;
    }
  }
}

.infoSection {
  display: flex;
  flex-direction: column;

  max-width: 580px;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobileUpper) {
    margin-left: 0;
  }

  @media screen and (min-width: $tableUpper) {
    padding: 0;
    width: 320px;
  }
}

.title {
  font: inherit;
  font-size: 14px;
}

.price {
  margin: 10px 0;

  font-size: 22px;
}

.priceValuta {
  font-size: 11px;
}

.title {
  font-size: 14px;
  font-weight: 500;

  margin-top: 5px;
  margin-bottom: 5px;
}

.buyBtn {
  width: 100%;

  margin-top: 5px;
  margin-bottom: 15px;

  fill: var(--primary);
}

.productSelected {
  background-color: var(--primary);
  border: 1px solid var(--accent);
  color: inherit;
}

.phoneWrapper {
  position: relative;
  width: 100%;

  margin-top: 5px;
  margin-bottom: 5px;
}
.phoneInput {
  width: 100%;
  height: 40px;
}
.phoneBtn {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;

  width: 115px;
  min-height: 0;

  padding: 0;

  font-size: 11px;
  text-transform: none;
}

.color {
  display: flex;
  flex-wrap: wrap;

  .colorImg {
    margin-right: 15px;
  }
}
