.wrapper {
  padding: 15px;

  border-radius: 15px;
  box-shadow: var(--shadow);
}

.header {
  text-align: center;
}

.form {
  & > * {
    margin-top: 25px;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
}
