@import '../../styles/variables.scss';

.selector {
  [class$='-ValueContainer'] {
    padding-right: 0;
  }
  [class$='-placeholder'] {
    width: calc(100% - 5px);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media screen and (max-width: $mobileLesser) {
    [class$='-control'] {
      box-shadow: none;
      border: none;
    }
    [class$='-ValueContainer'] {
      padding: 0;
    }
    [class$='-indicatorSeparator'] {
      display: none;
    }
    [class$='-indicatorContainer'] {
      padding: 0;
    }
    [class$='-multiValue'] {
      width: 50%;
    }
  }
}
