.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 50px;
  // width: 100%;

  padding-left: 15px;
  padding-right: 15px;

  background: var(--accent);
  border-radius: 4px;

  color: var(--primary);
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  & > *:not(:first-child) {
    margin-left: 10px;
  }
}

.error {
  background: var(--error);
}
.request {
  background: var(--request);
}
.success {
  background: var(--success);
}
