@import '../../styles//variables.scss';

.wrapper {
  height: inherit;
  width: 100%;

  [class~='image-gallery-right-nav'],
  [class~='image-gallery-left-nav'] {
    padding-top: 50%;
    padding-bottom: 50%;
  }
}
