@import '../../../styles/variables.scss';

.container {
  display: flex;

  margin: 30px 0;
  padding: 0 10px;

  background: var(--primary);
  border-radius: 16px;
}

.filterContainer {
  display: flex;
  gap: 15px;

  & > *:not(:first-child) {
    @media screen and (max-width: $mobileLesser) {
      font-size: 12px;
    }

    @media screen and (min-width: $mobileUpper) {
      gap: 10px;
    }
  }
}

.wrap {
  flex-wrap: wrap;
  align-content: baseline;
}

.controlContainer {
  flex-shrink: 0;

  @media screen and (max-width: $mobileLesser) {
    display: flex;
    align-content: baseline;
    flex-direction: column;
    gap: 15px;
  }

  @media screen and (min-width: $mobileUpper) {
    margin-left: auto;

    & > *:not(:first-child) {
      margin-left: 15px;
    }
  }
}

.toggleOption {
  @media screen and (min-width: $mobileUpper) {
    border: none;
  }
  @media screen and (max-windth: $mobileLesser) {
    width: 30px;
  }
}

.toggleIcon {
  display: inline-block;

  padding-right: 5px;
}

.rotaite {
  transform: rotate(180deg);
}

.accent {
  background-color: var(--blue);
  border: none;
  color: var(--primary);
}

.hide {
  @media screen and (max-width: $mobileLesser) {
    display: none;
  }
}
