@import '../../styles/variables.scss';

.gallery {
  display: grid;
  grid-gap: 20px;

  @media screen and (min-width: $mobileUpper) {
    grid-template-columns: 0.5fr 0.25fr 0.25fr;
  }
}

.firstCategory {
  grid-column: 1/3;
  height: 56vw;
}

.categories {
  height: 70vw;
}

@media screen and (min-width: $mobileUpper) {
  .firstCategory {
    grid-column: 1;
  }

  .firstCategory,
  .categories {
    height: 30vw;
    max-height: 360px;
  }
}
