.appear {
  opacity: 0;
}

.appearActive {
  opacity: 1;

  transition: opacity var(--animation) var(--cubic);
}

.enter {
  opacity: 0;
}
.enterActive {
  opacity: 1;

  transition: opacity var(--animation) var(--cubic);
}

.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;

  transition: opacity var(--animation) var(--cubic);
}
