@import '../../styles/variables.scss';

.footer {
  background: var(--primary);
  border-top: 1px solid var(--border-palette);
  text-transform: uppercase;
}

.totalContainer {
  padding-bottom: 10px;
}

.totalTitle {
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3.5px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  margin: 7px 0 10px;
}

.totalItem {
  display: flex;
  justify-content: space-between;
}

.priceValuta {
  text-transform: lowercase;
  font-size: 11px;
}

.footerBottoms {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}
