@import '../../styles/variables.scss';

.wrapper {
  position: relative;

  height: min-content;
  margin-bottom: 107px;

  @media screen and (min-width: $tableUpper) {
    margin-bottom: 0;
  }
}

.header {
  display: flex;
}

.x {
  width: 50px;
  height: 50px;

  background-color: transparent;
}

.container {
  & > *:first-child {
    border-top: 1px solid var(--border-palette);
  }
  & > * {
    border-bottom: 1px solid var(--border-palette);
    border-right: none;
    border-left: none;
    border-top: none;
  }
}

.close {
  max-width: 200px;

  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.title {
  width: 100%;

  margin-top: auto;
  margin-bottom: auto;

  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5.5px;
  text-transform: uppercase;
}

.totalContainer {
  padding-bottom: 10px;
}

.totalTitle {
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3.5px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  margin: 7px 0 10px;
}

.totalItem {
  display: flex;
  justify-content: space-between;
}

.footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 40px);
  height: 128px;

  background: var(--primary);
  border-top: 1px solid var(--border-palette);
  text-transform: uppercase;

  @media screen and (min-width: $tableUpper) {
    inset: unset;
    position: unset;

    width: inherit;
  }
}

.footerBottoms {
  display: flex;
  justify-content: space-between;

  & > * {
    flex-basis: 48%;
  }

  & > *:first-child {
    color: inherit;
    background: var(--primary);
    border: 1px solid var(--accent);
  }
}
