@import '../../styles/variables.scss';

.wrapper {
  margin-top: 30px;

  font-size: 18px;
  @media screen and (min-width: $tableUpper) {
    display: flex;
    justify-content: space-between;

    margin: -15px;
    margin-top: 30px;
  }
}

.productList {
  & > * {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid var(--gray);
  }
}
