.wrapper {
  display: flex;
  justify-content: space-between;

  margin: -15px;
  margin-top: 30px;

  & > * {
    margin: 15px;

    border: 1px solid var(--border-palette);
    border-radius: 4px;
    padding: 30px 10px 10px;
  }
  & > *:first-child {
    width: 100%;
  }
}
