.wrapper {
  min-width: 100%;
}

.image {
  position: relative;
}

.productDetails {
  display: flex;
  flex-direction: column;

  padding-top: 8px;

  & > * {
    margin-bottom: 5px;
  }
}

.title {
  width: calc(100% - 1px);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 12px;
}

.sizes {
  display: none;
}

.palette {
  display: flex;
  flex-wrap: wrap;

  align-items: center;

  height: 24px;

  & > * {
    width: 14px;
    height: 14px;

    border: 1px solid var(--border-palette);
  }
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}
